<style type="text/css">
.blah{
	border-radius:6px;
	background-color:black;
	color:white;
	width:128px;
	height:32px;
	font-size:16px;
}
#test:hover{
	background-color:blue;
}
#test{
	text-align:center;
	vertical-align:middle;
	line-height:32px;
}
</style>
